{% extends "design/base.html" %}
{% block content %}
<img src="/media/photos/PC060366.jpg" class="img-fluid w-100">
<div class="container mt-4">
    <div class="row">
        {% for photo in photos %}
        <div class="col-lg-4 col-md-6">
            <div class="card mb-4 border-0">
                <a href="{% url 'app:detail' pk=photo.pk %}">
                    <img src="{{ photo.image.url }}" alt="XYZ Smartwatch Pro" class="card-img-top">
                </a>
                <div class="mt-3">
                    <h5>{{ photo.title }}</h5>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}